<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

    <body>
        <div class="container">
            <div class="row">
                <div class=""></div>
                <div class="col-12">
                    <h2 class="h2">
                        <th:block th:if="${visit['new']}">New </th:block>
                        <th:block th:if="${!visit['new']}">Edit </th:block>
                        Visit
                    </h2>
                </div>
            </div>
            <div class="row">
                 <div class="col-md-1 col-sm-12"></div>
                <div class="col-md-10 col-sm-12">
                    <h3 class="h3">Pet information</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Birth Date</th>
                                <th>Type</th>
                                <th>Owner</th>
                            </tr>
                        </thead>
                        <tr>
                            <td th:text="${pet.name}" /></td>
                            <td th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}" /></td>
                            <td th:text="${pet.type}" /></td>
                            <td th:text="${pet.owner?.firstName + ' ' + pet.owner?.lastName}" /></td>
                        </tr>
                    </table>

                    <form th:object="${visit}" class="form-horizontal" method="post">
                        <div class="form-group has-feedback">
                            <input th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')}"  />
                            <input th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="hidden" name="petId" th:value="${pet.id}" />
                                <button class="btn btn-success" type="submit">Add Visit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class=""></div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <h3 class="h3">Previous Visits</h3>
                    <br>
                    <table class="table table-striped">
                        <tr>
                            <th class="text-success">Date</th>
                            <th class="text-success">Description</th>
                        </tr>
                        <tr th:if="${!visit['new']}" th:each="visit : ${pet.visits}">
                            <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}" /></td>
                            <td th:text=" ${visit.description}" /></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-sm-12">

                    <img class="col-md-8 col-sm-12" src="../static/resources/images/veterinario.png" th:src="@{/resources/images/veterinario.png}"/>
                    <br />
                </div>
            </div>
        </div>

    </body>
</html>
