<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

    <body>

        <div class="row"> 
            <div class="col-10"></div>
        </div>
        <h2 class="h2">Find Owners</h2>
        <form th:object="${owner}" th:action="@{/owners}" method="get"
              class="form-horizontal" id="search-owner-form">
            <div class="form-group">
                <div class="control-group" id="lastNameGroup">
                    
                    <div class="col-sm-6">
                        <span class="help-inline h3 "><div
                                th:if="${#fields.hasAnyErrors()}">
                                <p class="text-danger" th:each="err : ${#fields.allErrors()}" th:text="${err}">Error</p>
                            </div></span>
                    </div>
                    <div class="col-sm-4">
                    <a class=" btn btn-default btn-success rounded-lg" th:href="@{/owners/new}">Add Owner</a>
                    </div>
                </div>
            </div>
           
        </form>

        

    </body>
</html>
