<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

    <body>
        <div  class="container-fluid" >
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8"> 
                    <h2 class="h2">Owners</h2>
                </div>
                <div class="col-md-12 col-lg-1 col-sm-1" style="margin-top: -20px;"></div>
                <div class="col-lg-3 col-md-12 col-sm-3 text-right">
                    <img src="../static/resources/images/decoration_cat_dog.png" th:src="@{/resources/images/decoration_cat_dog.png}" style="width: 200px; margin-bottom: -22px;  margin-right: 45px "/>
                </div>
            </div>
     </div>
        <div class="row" style=" margin-left: 7%; margin-right: 7%">
            <table id="vets" class="table table-condensed table-striped table-hover  text-left">
                <thead>
                    <tr>
                        <th >Name</th>
                        <th >Address</th>
                        <th>City</th>
                        <th >Telephone</th>
                        <th>Pets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="owner : ${selections}">
                        <td>
                            <a th:href="@{/owners/__${owner.id}__}" th:text="${owner.firstName + ' ' + owner.lastName}"/></a>
                        </td>
                        <td th:text="${owner.address}"/>
                        <td th:text="${owner.city}"/>
                        <td th:text="${owner.telephone}"/>
                        <td><span th:each="pet : ${owner.pets}" th:text="${pet.name} "/></td>
                    </tr>
                </tbody>
            </table>
        </div>


    </body>
</html>
