<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
    <head>
        
    </head>

    <body class="container-fluid" >
        <div>
            <div class="text-center">
                <br><br>
                <h1 class="h1">Bienvenido a PetCare</h1>
                <h3 class="h3">A Nosotros Tambien Nos Importan </h3>
            </div>
            <div class="">
                <img class="img-responsive" src="../static/resources/images/dog.png" th:src="@{/resources/images/dog.png}"/>
            </div>
        </div>
         
    </body>

</html>