<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
    <head>
        
    </head>

    <body>
        <div class="container-fluid">
            <div class="row" >
                <div class="col-lg-2 col-md-1   col-sm-1">
                    <div style=" margin-top: 40%"></div>
                </div>

                <div class="col-lg-8 col-md-10 col-sm-10 text-center">
                    <h1 class="h1">Bienvenido a PetCare</h1>
                    <h3 class="h3">A Nosotros Tambien Nos Importan </h3>
                </div>
               
            </div>
            <div class="row" >
                <div class="col-lg-2 col-md-12   col-sm-1">
                    <div style=" margin-top: 85%"></div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-10" >
                    <img class="img-responsive" src="../static/resources/images/dog.png" th:src="@{/resources/images/dog.png}" />
                </div>
                
              
            </div>
        </div>
        
    </body>

</html>